@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#__next{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dark .bg-silver{
  background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.038) 0%, rgba(102, 112, 133, 0.01) 100%);
}

.dark .border-com{
  border-color: radial-gradient(98.16% 354.35% at 98.16% 96.62%, #2EC866 0%, rgba(118, 123, 241, 0) 100%, rgba(46, 200, 102, 0) 100%);
}

.Dropdown-control{
  background-color: #F5F8FF !important;
  border-radius: 5px !important;
  color: #120C26 !important;
  box-shadow:  0px 9px 16px rgba(171, 190, 209, 0.03) !important;
  border: none !important;
  cursor: pointer !important;
  width: 150px;
}
.dark .Dropdown-control{
  background-color: #1A192B !important;
  color: #FFFFFF !important;
}

.Dropdown-menu{
  border: none !important;
}
.dark .Dropdown-menu{
  background-color: #1A192B !important;
}

.Dropdown-option{
  color: #120C26 !important;
}
.dark .Dropdown-option{
  color: #FFFFFF !important;
}
.dark .Dropdown-option.is-selected{
  background-color: #120C26 !important;
}
.dark .Dropdown-option:hover{
  background-color: #120C26 !important;
}

.Dropdown-control .arrow{
    display: block;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 11px;
}
.dark .Dropdown-control .arrow{
  color: #FFFFFF;
}

 .faq-bg{
  background-image: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.038) 0%, rgba(102, 112, 133, 0.01) 100%);
}

.dark .border-image-1{
  border-bottom-color: #8767fe;
  border-bottom-width: 0.1px;
}

.mobile-table .override-weight{
  font-weight: 500;
  color: #120C26 !important;
}

.dark .mobile-table .override-weight{
  font-weight: 500;
  color: #FFFFFF !important;
}

:not(.dark) .ellipsis{
  display: none !important;
}

.dark .light-404 {
  display: none !important;
}

.instagram{
  background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.dark .contact-us svg{
  fill: rgb(11 18 55) !important;
}

.dark .contact-us{
  background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.038) 0%, rgba(102, 112, 133, 0.01) 100%) 
}

@media only screen and (min-width: 768px){
  .dark .ellipsis{
    display: block;
  }
}

@media only screen and (min-width: 768px){
  .merch_modal_image{
    width: 250px !important;
    height: 250px !important;
  }
}

@media only screen and (max-width: 768px){
  .splide__arrow:disabled:not(.show){
    display: none;
  }
}
